[Unit]
Description=Timer to run anki_helper daily

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target podman-user-wait-network-online.service
